* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.header {
    border-bottom: 1px dotted#8c1460;
}

.primary-title {
    margin-bottom: 0;
}

.main {
    flex: 1 0 auto;
    padding-top: 25px;
}

.article {
    font-size: 14px;
    padding-bottom: 18px;
}

.title {
    line-height: 18px;
}

.date {
    background-color: #8c1460;
    color: white;
    padding: 3px;
    margin-right: 3px;
}

.announce {
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer {
    border-top: 1px dotted #8c1460;
    flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


.title-3 {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.btn {
    min-width: 36px;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
}

.btn:hover {
    background-color: #fcb4e2;
    border-color: #b98ca9;
}


.btn:active {
    background-color: #8c1460;
    color: white;
}

.content {
    margin-top: 0;
}